@font-face {
  font-family: "Emulogic";
  src: url("../fonts/Emulogic.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  background-color: #111111;
  font-family: Emulogic;
  color: #07a5ff;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 8px;
}

canvas {
  background-color: #222222;
}
